<div class="row justify-content-center m-0">
  <div class="col-6">
    <h1>Biographies</h1>

    <div class="d-flex justify-content-end">
      <a routerLink="create">Add Data</a>
    </div>

    <ng-container *ngIf="datas != undefined && datas.length > 0">
      <div *ngFor="let data of datas; index as i" class="pt-2">
        <div class="border rounded d-flex flex-row-reverse justify-content-between align-items-center p-2">
          <p class="m-0 text-end fw-bold">{{ data.name }} (ت: {{data.death}})</p>
          <a routerLink="detail/{{data.id}}">انظر الكامل</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
